<a href="https://colab.research.google.com/github/EmoreiraV/DPIP/blob/main/Pandas_week7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas

This week we are introduing [Pandas](https://pandas.pydata.org/), which we will then follow up on in Week 8. Pandas is the Python equivalent of R's Data Frames, and is used for data in tabular form. Pandas is built on NumPy but is better for dealing with datasets.

Its not clear why its called Pandas, but apparently people usually say the name refers to 'Python ANd DAta analysiS' or 'PANel DAta'.

## Question about loading data in Colab

A student messaged to ask how to download and load the data in colab from github, for task 6 in the week 7 notes.

Thus i in the class i will:

- Show how to download the data from github
- Demonstrate how to do this simply in Colab

In [1]:
!wget https://raw.githubusercontent.com/UofGAnalyticsData/DPIP/main/bp.csv

--2024-07-25 17:44:34--  https://raw.githubusercontent.com/UofGAnalyticsData/DPIP/main/bp.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.111.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2672 (2.6K) [text/plain]
Saving to: ‘bp.csv’

bp.csv              100%[===================>]   2.61K  --.-KB/s    in 0s

2024-07-25 17:44:34 (40.1 MB/s) - ‘bp.csv’ saved [2672/2672]

In [2]:
!ls

bp.csv	sample_data

In [3]:
import pandas as pd

In [13]:
df = pd.read_csv("bp.csv", na_values=".")

In [14]:
df

     hour  minute  bps  bpd   hrt
0       0       0  119   69  75.0
1       0       1  124   72  75.0
2       0       2  122   70  76.0
3       0       3  124   72  75.0
4       0       4  119   69  76.0
..    ...     ...  ...  ...   ...
175     2      55   96   52  81.0
176     2      56  101   56  76.0
177     2      57  113   62  72.0
178     2      58  100   56  78.0
179     2      59   98   53  78.0

[180 rows x 5 columns]

We can not look at some properties of the data:

In [15]:
df.describe()

             hour      minute         bps         bpd         hrt
count  180.000000  180.000000  180.000000  180.000000  177.000000
mean     1.000000   29.500000  121.533333   69.027778   76.271186
std      0.818774   17.366409   11.839428    6.497469    3.349850
min      0.000000    0.000000   89.000000   50.000000   68.000000
25%      0.000000   14.750000  119.000000   68.750000   75.000000
50%      1.000000   29.500000  125.000000   71.000000   76.000000
75%      2.000000   44.250000  129.000000   73.000000   78.000000
max      2.000000   59.000000  139.000000   78.000000   85.000000

We could then analysis the data, say looking at the correlation between the columns

e.g. https://stackoverflow.com/questions/29432629/plot-correlation-matrix-using-pandas

In [16]:
corr = df.corr()
corr.style.background_gradient(cmap='coolwarm')

Lets consider what happens if we dont specify the NA value:

In [8]:
df = pd.read_csv("bp.csv")

Note, we dont get an error, but the column is not in the dataset:

In [9]:
df.describe()

             hour      minute         bps         bpd
count  180.000000  180.000000  180.000000  180.000000
mean     1.000000   29.500000  121.533333   69.027778
std      0.818774   17.366409   11.839428    6.497469
min      0.000000    0.000000   89.000000   50.000000
25%      0.000000   14.750000  119.000000   68.750000
50%      1.000000   29.500000  125.000000   71.000000
75%      2.000000   44.250000  129.000000   73.000000
max      2.000000   59.000000  139.000000   78.000000

In [17]:
corr = df.corr()
corr.style.background_gradient(cmap='coolwarm')

## Pandas Series

Let try a quick example. This following data is taken from the UK General Election Results in 2019. Let start by creating a simple series for the number of seats each party won.

In [ ]:
import pandas as pd
import numpy as np
seats = np.array([265, 203, 48, 11, 8])
votes = pd.Series(seats)
votes

0    265
1    203
2     48
3     11
4      8
dtype: int64

This isnt very clear right now, the row names arent very descriptive of what the dataset is about.

In [ ]:
votes.index

RangeIndex(start=0, stop=5, step=1)

Let's add some row names

In [ ]:
parties = np.array(['Conservatives', 'Labour', 'SNP', 'Liberal Democrat', 'DUP'])
votes.index = parties
print(votes.index)
print(' ') # just to print a blank line
votes

Index(['Conservatives', 'Labour', 'SNP', 'Liberal Democrat', 'DUP'], dtype='object')

Conservatives       265
Labour              203
SNP                  48
Liberal Democrat     11
DUP                   8
dtype: int64

Or we could have recreated the dataset as follows

In [ ]:
votes = pd.Series(seats, index=parties)
votes

Conservatives       265
Labour              203
SNP                  48
Liberal Democrat     11
DUP                   8
dtype: int64

Oops, I somehow missed out on the votes for others. Others should have 15 votes. Let's add that

In [ ]:
votes['Other'] = 15
votes

Conservatives       265
Labour              203
SNP                  48
Liberal Democrat     11
DUP                   8
Other                15
dtype: int64

Oops, I somehow (deliberately) make an error for the number of votes the Conservatives got during the election. It should be 365, not 265, let's change that

In [ ]:
votes['Conservatives'] = 365
votes

Conservatives       365
Labour              203
SNP                  48
Liberal Democrat     11
DUP                   8
Other                15
dtype: int64

We can add a name for our Series. It doesn't come up where we are expecting it to, but it will when we look at Data Frames

In [ ]:
votes.name = 'Seats'
votes

Conservatives       365
Labour              203
SNP                  48
Liberal Democrat     11
DUP                   8
Other                15
Name: Seats, dtype: int64

We can also create this from scratch

In [ ]:
parties = np.array(['Conservatives', 'Labour', 'SNP', 'Liberal Democrat', 'DUP', 'Other'])
seats = np.array([365, 203, 48, 11, 8, 15])
votes = pd.Series(seats, index=parties, name='Seats')
votes

Conservatives       365
Labour              203
SNP                  48
Liberal Democrat     11
DUP                   8
Other                15
Name: Seats, dtype: int64

## Extracting Information from Pandas Series

Lets start by getting some summaries of the information in our series

In [ ]:
print(votes.sum())
print(votes.std())
print(votes.var())
print(votes.min())
print(votes.max())

650
146.10361619982808
21346.26666666667
8
365

Let's find out how many seats the SNP got and what proportion of the seats that is

In [ ]:
print(votes['SNP'])
votes['SNP']/votes.sum()

48

0.07384615384615385

Let's also find out how many seats Labour have but using the row index this time. Remembering Python is zero indexed, this is the 2nd row or index 1

In [ ]:
votes[1]

203

# Pandas Data Frame

It would also be useful to add the change in the number of seats since the last election each party has seen. However in order to do that we need to change from a Series to a Data Frame. There is a method to do this, although I'm not sure whether it is in the notes.

In [ ]:
votes.to_frame()

                  Seats
Conservatives       365
Labour              203
SNP                  48
Liberal Democrat     11
DUP                   8
Other                15

However let's start where we were before so we can see the difference between Series and Data Frames

In [ ]:
seats = np.array([265, 203, 48, 11, 8])
parties = np.array(['Conservatives', 'Labour', 'SNP', 'Liberal Democrat', 'DUP'])
data = {'Seats': seats}
votes = pd.DataFrame(data, index = parties)
votes

                  Seats
Conservatives       265
Labour              203
SNP                  48
Liberal Democrat     11
DUP                   8

Once again we are missing a row for 'Other' and we have put the number of seats in incorrectly for the 'Conservatives'. But lets's just fix the Conservative votes for now

In [ ]:
votes.loc['Conservatives'] = 365
votes

                  Seats
Conservatives       365
Labour              203
SNP                  48
Liberal Democrat     11
DUP                   8

And let's add a row for how the number of seats has changed since the last election

In [ ]:
change = np.array([47, -59, 13, -1, -2])
votes['Change'] = change
votes

                  Seats  Change
Conservatives       365      47
Labour              203     -59
SNP                  48      13
Liberal Democrat     11      -1
DUP                   8      -2

Let's add that row back in for 'Other' now. There are a few different ways of doing this...

In [ ]:
other_data = pd.DataFrame({'Seats': 15, 'Change': 2}, index=['Other'])
votes = pd.concat([votes, other_data])
votes

                  Seats  Change
Conservatives       365      47
Labour              203     -59
SNP                  48      13
Liberal Democrat     11      -1
DUP                   8      -2
Other                15       2

Lets add a column for the percentage of seats each party has. To so that we need to do a summary on one of the columns

In [ ]:
total_seats = votes.sum()[0]
perc_seats = votes['Seats'] / total_seats * 100
votes['Percentage Seats'] = perc_seats
votes

                  Seats  Change  Percentage Seats
Conservatives       365      47         56.153846
Labour              203     -59         31.230769
SNP                  48      13          7.384615
Liberal Democrat     11      -1          1.692308
DUP                   8      -2          1.230769
Other                15       2          2.307692

We could also create all this dataset from scratch using the following code

In [ ]:
votes.Seats

Conservatives       365
Labour              203
SNP                  48
Liberal Democrat     11
DUP                   8
Other                15
Name: Seats, dtype: int64

In [ ]:
parties = np.array(['Conservatives', 'Labour', 'SNP', 'Liberal Democrat', 'DUP', 'Other'])
seats = np.array([365, 203, 48, 11, 8, 15])
change = np.array([47, -59, 13, -1, -2, 2])
total_seats = votes.sum()[0]
perc_seats = votes['Seats'] / total_seats * 100
votes = pd.DataFrame({'Seats': seats, 'Changes': change, 'Percentage Seats': perc_seats}, index=parties)
votes

                  Seats  Changes  Percentage Seats
Conservatives       365       47         56.153846
Labour              203      -59         31.230769
SNP                  48       13          7.384615
Liberal Democrat     11       -1          1.692308
DUP                   8       -2          1.230769
Other                15        2          2.307692

## Premier League Data

Apologies for those that aren't football fan... The dataset [premierleague.csv](https://github.com/UofGAnalyticsData/DPIP/blob/main/colab_datasets/premierleague.csv) gives the up to date English Premier League football table (as off 09/11/2021). Lets load it in and have a look!

Its easier to download the code from Giuthub when working with Google Colabs. But the normal code is commented out. To get the relevant code off GitHub, go to the link above and just above the dataset to the right click 'raw', then copy the link out of the browser bar

In [ ]:
# file_path = 'C:\\Users\\Vinny\\teaching\\DPIP\\colab_datasets\\premierleague.csv'
# football = pd.read_csv(file_path)
url = 'https://raw.githubusercontent.com/UofGAnalyticsData/DPIP/main/colab_datasets/premierleague.csv'
football = pd.read_csv(url)
football.head()

              Team  Pl  W  D  L   F   A  GD  Pts
0          Chelsea  11  8  2  1  27   4  23   26
1  Manchester City  11  7  2  2  22   6  16   23
2  West Ham United  11  7  2  2  23  13  10   23
3        Liverpool  11  6  4  1  31  11  20   22
4          Arsenal  11  6  2  3  13  13   0   20

It might be easier to set the team as the Index, so lets do that

In [ ]:
football = football.set_index('Team')
football.head()

                 Pl  W  D  L   F   A  GD  Pts
Team
Chelsea          11  8  2  1  27   4  23   26
Manchester City  11  7  2  2  22   6  16   23
West Ham United  11  7  2  2  23  13  10   23
Liverpool        11  6  4  1  31  11  20   22
Arsenal          11  6  2  3  13  13   0   20

Lets get the shape of the Data Frame and extract the row for 'Manchester United' and column for points ('Pts')

In [ ]:
print(football.shape)
print(' ') # just adding a row of white space
print(football.loc['Manchester United'])
print(' ')
football['Pts']

(20, 8)

Pl     11
W       5
D       2
L       4
F      19
A      17
GD      2
Pts    17
Name: Manchester United, dtype: int64

Team
Chelsea                     26
Manchester City             23
West Ham United             23
Liverpool                   22
Arsenal                     20
Manchester United           17
Brighton and Hove Albion    17
Wolverhampton Wanderers     16
Tottenham Hotspur           16
Crystal Palace              15
Everton                     15
Leicester City              15
Southampton                 14
Brentford                   12
Leeds United                11
Aston Villa                 10
Watford                     10
Burnley                      8
Newcastle United             5
Norwich City                 5
Name: Pts, dtype: int64

# Quiz

### Q1.

Pandas is built on:

a) Python Dictionaries

b) Numpy

c) Python sets

#### Answer

Pandas is based on Numpy!

## Q2

(The python object model questions)

If we have the following code:

```
x = np.array([10,20,30,0.1])
s = pd.Series(x)
```

and then we modify an element of s:

```
s[2] = 0.1
```

what is:

```
print(x[2])
```

#### Answer

In [ ]:
x = np.array([10,20,30,0.1])
s = pd.Series(x)
s[2] = 0.5

Lets have a look:

In [ ]:
print(s)

0    10.0
1    20.0
2     0.5
3     0.1
dtype: float64

## Q3

(The python object model questions)

If we have the following code:

```
x = np.array(['Cat', 'Dog', 'Parrot', 'Sheep'])
my_animals = pd.Series(x)
```

and then we modify an element of s:

```
my_animals[2] = "Meerkat"
```

What is:

```
print(x[2])
```

#### Answer

In [ ]:
import numpy as np
x = np.array(['Cat', 'Dog', 'Parrot', 'Sheep'])
my_animals = pd.Series(x)

In [ ]:
my_animals[2] = "Meerkat"

In [ ]:
my_animals

0        Cat
1        Dog
2    Meerkat
3      Sheep
dtype: object

However, we can see that the changes didnt propogate:

In [ ]:
x

array(['Cat', 'Dog', 'Parrot', 'Sheep'], dtype='<U6')

In [ ]:
import numpy as np
x = np.array(['Cat', 'Dog', 'Parrot', 'Sheep'],dtype = object)
my_animals = pd.Series(x)

In [ ]:
my_animals[2] = "Meerkat"

In [ ]:
x

array(['Cat', 'Dog', 'Meerkat', 'Sheep'], dtype=object)

### Q4
 Pandas is the best library and we should use it for everything :-)

a) Yes

b) No

#### Answer

Pandas is an amazing library, and is the best choice for lots of use cases, but it not always the best choice. For example:

In [ ]:
df = pd.read_csv("bp.csv", na_values=".")

Lets say we want to get the bps at hour 2 minute 57 (say), we could do:

In [ ]:
df[(df.hour==2) & (df.minute==57)]['bps']

177    113
Name: bps, dtype: int64

Note this needs to perform an operation on every row in our table and therefore should scale like the number of elements in the table.

Lets time how long this takes:

In [ ]:
%%time
for i in range(1000):
  df[(df.hour== (i%3)) & (df.minute==(i%60))]['bps']

CPU times: user 506 ms, sys: 51.5 ms, total: 558 ms
Wall time: 513 ms

Could also use a query version;

In [ ]:
%%time
for i in range(1000):
  df.query(f'hour=={i%3} and minute=={i%60}')['bps']

CPU times: user 1.68 s, sys: 83.6 ms, total: 1.77 s
Wall time: 1.66 s

There are also other ways to get faster query performance out of pandas (see the alternative section for some options).

Suppose instead we were to use a dictionary (which has O(1) lookups):

In [ ]:
%%time
d1 = {(x[1],x[2]):x[3] for x in df.itertuples()}

CPU times: user 1.07 ms, sys: 0 ns, total: 1.07 ms
Wall time: 1.08 ms

In [ ]:
%%time
for i in range(1000):
  d1[(i%3,i%60)]

CPU times: user 179 µs, sys: 13 µs, total: 192 µs
Wall time: 195 µs

Roughly a thousand times faster, although both very quick.

***Conclusion***: If you are computing this operation in your program less than a 1000 times, it probably doesnt matter

##### Alternative Pandas solutions:

One option would be to make a combination variable to reduce the number of masks required:

In [ ]:
df['combTime'] = df.hour*60 + df.minute

In [ ]:
%%time
for i in range(1000):
  df[df.combTime== 60*(i%3)+(i%60)]['bps']

CPU times: user 388 ms, sys: 4.87 ms, total: 393 ms
Wall time: 406 ms

In [ ]:
df1= df.set_index("combTime")

In [ ]:
%%time
for i in range(1000):
  df[df.combTime== 60*(i%3)+(i%60)]['bps']

CPU times: user 336 ms, sys: 18.3 ms, total: 354 ms
Wall time: 323 ms

Using the index and loc syntax is faster, but still slower than the dictionary version.

In [ ]:
%%time
for i in range(1000):
  df1.loc[60*(i%3)+(i%60),'bps']

CPU times: user 8.19 ms, sys: 0 ns, total: 8.19 ms
Wall time: 8.2 ms