<a href="https://colab.research.google.com/github/EmoreiraV/DPIP/blob/main/week2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Week 2

## Quick Quiz

### Q1:
What is the difference between a tuple and a list?

#### Answer

In [3]:
# Tuples are immutable,
t1 = (1,2,3)

In [2]:
t1[0]='Cat'

TypeError: 'tuple' object does not support item assignment

In [ ]:
# Lists are mutable,
l1 = [1,2,3]

In [ ]:
l1[0]='Cat'
print(l1)

### Q2:
What is the value of l1[2]?

In [ ]:
l1 = ['a','b','c','d']
l2 = l1
l2[2] = 'Cat'

#### Answer

l1[2] is also cat, as we have set one list equal to the other, all changes in one list will be present in the other list.

In [ ]:
print(l2[2])

### Q3:
What is the value of l1[2] in this case?

In [ ]:
l1 = ['a','b','c','d']
l2 = [x for x in l1]
l2[2] = 'Cat'

#### Answer

l1[2] is not cat, a list comprehension creates a new list, so changes in one list do not affect the other.

In [ ]:
print(l1[2])

## Q4

What happens if you add two lists?

What if they were two tuples?

#### Answer

In [ ]:
l1 +l2

In [ ]:
tuple(l1)+tuple(l2)

Bonus question: How would you perform vector summation with a list comprehension?

## Q5:

What can be a key for a dictionary?

- string
- tuple
- dictionary
- some combination of above(?)

#### Answer

The keys for a dictionary need to be immutable, therefore we can use:

- tuple
- string

In [ ]:
q1 = {}
q1[(1,"q",1.2)] = 1
print(q1)

In [ ]:
q1 = {}
q1["ert"] = 1
print(q1)

Demonstrating that dictionaries dont work:

In [ ]:
q1 = {}
q1[{1:2}]=1

## Q6:

Testing if an element belongs to a list is the same syntax as testing if an element belongs to a set, but which is quicker?

a.) Testing if an element in a set

b.) Both the same

c.) Testing if an element is in a list

#### Answer

In [ ]:
l1 = [x**2 for x in range(1000)]
s1 = set(l1)

In [ ]:
# lets check the list form
%time sum(x in l1 for x in range(100000))

In [ ]:
# lets check the set form
%time sum(x in s1 for x in range(100000))

A difference of arround 100x faster, use the right datastructure!

In [ ]:
# lets check the set form

%time s2 = set(l2); sum(x in s2 for x in range(100000))

# Comprehensions in Python

List and dictionary comprehensions in Python are one of the most useful features as they allow you to write clear and concise code without having to resort to a large number of for loops.

In [ ]:
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

We can add simple conditions to a list comprehension to filter or change the output. For example if we wanted to only include the even powers we can do the following

In [ ]:
[x**2 for x in range(10) if x%2==0]

[0, 4, 16, 36, 64]

Or if we wanted to replace them we can use the following syntax:

In [ ]:
[x**2 if x%2==0 else 'Cat' for x in range(10)]

[0, 'Cat', 4, 'Cat', 16, 'Cat', 36, 'Cat', 64, 'Cat']

We can also represent several different for loops using the same list comprehension.

So for example if we would like to compute all combinations of the letters in two strings we could do the following:

In [ ]:
[x+y for x in 'abc' for y in 'AB']

['aA', 'aB', 'bA', 'bB', 'cA', 'cB']

As list comprehensions are python expressions we can other python expressions inside them, for example a list:

In [ ]:
[[x,y] for x in 'abc' for y in 'AB']

[['a', 'A'], ['a', 'B'], ['b', 'A'], ['b', 'B'], ['c', 'A'], ['c', 'B']]

Or if we wanted to we could put another list comprehension inside:

In [ ]:
[[x+y for x in 'abc'] for y in 'AB']

[['aA', 'bA', 'cA'], ['aB', 'bB', 'cB']]

So now rather than having one list with all of the combinations we have a hierachy of lists. With one list with two sublists, the first with only elements where x='A' and the second where y='B'.

We can embed this many layers down if you require with as many lists within lists as are needed (although I would not advise to go more than 4 - unless you have a really good reason).

In [ ]:
[[[x+y+z for x in 'abc'] for y in 'AB'] for z in '.!?']

[[['aA.', 'bA.', 'cA.'], ['aB.', 'bB.', 'cB.']],
 [['aA!', 'bA!', 'cA!'], ['aB!', 'bB!', 'cB!']],
 [['aA?', 'bA?', 'cA?'], ['aB?', 'bB?', 'cB?']]]

## Other Comprehensions

While we have mostly discussed list comprehension in the notes, we can also use comprehensions in other structures:

- dictionaries
- sets
- generators (advanced - can be ignored)

Set and dictionaries are actually quite similar:
- Both are un-ordered
- Both has very quick look-ups
- The underlying implementation of both methods (hash tables is the same)

Thus, their comprehensions look quite similar:

Lets take the Cat list comprehension from above:

In [ ]:
[x**2 if x%2==0 else 'Cat' for x in range(10)]

[0, 'Cat', 4, 'Cat', 16, 'Cat', 36, 'Cat', 64, 'Cat']

We can turn it into a set comprehension by just changing the brackets from

```
[]
```

to
```
{}
```

Like so:

In [ ]:
{x**2 if x%2==0 else 'Cat' for x in range(10)}

{0, 16, 36, 4, 64, 'Cat'}

Dictionary comprehensions are a little different, as they need to have a:

- key
- value

Thus, we use the following syntax:

```
{key:value for key,value in ABCD}
```

Thus, if we wanted a dictionary that maps between the original values of our list and the value of our list comprehension, we can use the following syntax:

In [ ]:
# @title
{x**2:x**2 if x%2==0 else 'Cat' for x in range(10)}

{0: 0,
 1: 'Cat',
 4: 4,
 9: 'Cat',
 16: 16,
 25: 'Cat',
 36: 36,
 49: 'Cat',
 64: 64,
 81: 'Cat'}

We can also use the same conditional statements as with list comprehensions:

In [ ]:
{x**2:x**2 if x%2==0 else 'Cat' for x in range(20) if x%3==0}

{0: 0, 9: 'Cat', 36: 36, 81: 'Cat', 144: 144, 225: 'Cat', 324: 324}

Further we can also combine list comprehensions with dictionaries:

In [ ]:
{x**2:[y for y in range(10) if y%x==0] for x in range(1,10)}

{1: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 4: [0, 2, 4, 6, 8],
 9: [0, 3, 6, 9],
 16: [0, 4, 8],
 25: [0, 5],
 36: [0, 6],
 49: [0, 7],
 64: [0, 8],
 81: [0, 9]}

# Exercises from notes

(In case anyone wants to go through a solution)

## Exercise 1


Create a list containing the values 1, 7, 14, 21 and 35. Extract the second, last, and second-last entry. Replace the first entry by zero.

#### Answer

In [4]:
a = [1, 7, 14, 21, 35]
print(a[1])

7

Obtain the last and  second from last element;

In [5]:
print(a[-1])        # same as a[4]
print(a[-2])        # same as a[3]

35
21

Set the first entry by 0:

In [6]:
a[0] = 0
print(a)

[0, 7, 14, 21, 35]

## Exercise 2

For the list

```
l = [ 1, 4, 9, 16, 25, 36, 49 ]
```

extract the following slices:

- the first three entries,
- the last three entries,
- every second entry starting from the first entry, and
-every second entry starting from the second entry.

#### Answer

Can extract the first 3 elements using the following command:

In [ ]:
l = [ 1, 4, 9, 16, 25, 36, 49 ]
print(l[:3])

[1, 4, 9]

Extracting the final 3 elements is similar but we can use negative indices to help us:

In [ ]:
print(l[-3:])

[25, 36, 49]

To select every second element we can use this synthax:

In [ ]:
print(l[::2])

[1, 9, 25, 49]

In [ ]:
print(l[1::2])

[4, 16, 36]

If you are not confident with this syntax (quite different to other languages), try experimenting with this syntax more i.e. extracting every 3 elements starting from the 2 etc etc.

## Exercise 3


We have defined a list of the days of the week as
```

days = [ "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday" ]
```



Use this list to create a new list of the days of the week, now starting with "Sunday".

#### Answer

In [ ]:
days = [ "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday" ]

In [ ]:
days2 = days[-1:] + days[:-1]
print(days2)

['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']

Lets try without the colon:

In [ ]:
days[-1] + days[:-1]

TypeError: ignored

Lets look at what the difference is:

In [ ]:
print(days[-1])
print(days[-1:])

Sunday
['Sunday']

We cannot add strings to lists, therefore need to use the slice syntax so we have a list.

## Exercise 4

In exercise 3 we have used slicing and arithmetic operators to change the list of weekdays to start with a Sunday. Can you do the same using the methods from the table above?

#### Answer

In [ ]:
days = [ "Monday", "Tuesday", "Wednesday", "Thursday", "Friday",
          "Saturday", "Sunday" ]
days2 = days.copy()

We can use the pop and insert commands to create the new list:

In [ ]:
days2.insert(0, days2.pop())
print(days2)

['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']

## Exercise 5



Consider the list

```
x = [ 2, -3, 5, 4, -1 ]
```

Write a loop the creates two new lists,

- a list positive_indices which contains the indices at which entries of x are positive, and
- a list positive_values which contains the positive entries from x.

#### Answer

We can use a standard `for` loop with an `if` statement as follows:

In [ ]:
x = [ 2, -3, 5, 4, -1 ]
positive_indices = []
positive_values = []
for index, value in enumerate(x):
    if value>0:
        positive_indices.append(index)
        positive_values.append(value)
print(positive_indices)
print(positive_values)

Note we could also use a standard `range` rather than an `enumerate` as follows:

In [ ]:
x = [ 2, -3, 5, 4, -1 ]
positive_indices = []
positive_values = []
for index in range(len(x)):
    if x[index]>0:
        positive_indices.append(x[index])
        positive_values.append(value)
print(positive_indices)
print(positive_values)

## Exercise 6

Suppose we roll a six-faced dice. The sample space is then the set
```
sample_space = { 1, 2, 3, 4, 5, 6 }
```
Consider the following two sets ("events")
```
A = { 1, 2, 3 }         # "at most 3"
B = { 2, 4, 6 }         # "even score"
```
Use Python to print the sets corresponding to the events

- A and B happen,
- A or B happen,
- A happens, but not B, and
- A does not happen (complement of A).

#### Answer

Set up our variables:

In [ ]:
sample_space = { 1, 2, 3, 4, 5, 6 }
A = { 1, 2, 3 }                      # "at most 3"
B = { 2, 4, 6 }                      # "even score

A and B:

In [ ]:
print(A&B) # or
print(A.intersection(B))

A or B:

In [ ]:
print(A|B) # or:
print(A.union(B))

A happens but not B

In [ ]:
print(A-B) # or:
print(A.difference(B))

A does not happen:

In [ ]:
print(sample_space-A) # or
print(sample_space.difference(A))

## Exercise 7


Using the dictionary from Exercise 3:

- create a list of all colours, and
- create a list of the red fruits.

#### Answer

Define the dictionary:

In [ ]:
colours = { "apple": "green",
            "cherry": "red",
            "orange": "orange",
            "strawberry": "red" }


Get the list of all unique colours:

In [ ]:
print(sorted(set(colours.values())))

We have created a set to obtain unique values.

We use a loop to obtain the list of red fruit.

In [ ]:
red_fruit = []
for fruit, colour in colours.items():
    if colour=="red":
        red_fruit.append(fruit)
print(red_fruit)

Could use a list comprehension:

In [ ]:
[x for x,y in colours.items() if y=="red"]

## Exercise 8

Use a list comprehension to produce a list of all powers of 2 between 2 and 1024 (2^10).

#### Answer

In [ ]:
[2**x for x in range(1,11)]

## Exercise 9

Use a list comprehension to print the words from
```
"Data Programming in Python"
```
which are at least 3 letters long.

We have seen in Example 4 that we can split "Data Programming in Python" into words using

```
words = "Data Programming in Python".split(" ")
```

#### Answer

In [ ]:
words = "Data Programming in Python".split(" ")
selected_words = [ word for word in words if len(word)>=3 ]
print(selected_words)

## Exercise 10

For the list

```
x = [-3, -1, 0 , 1, 3]
```
calculate a list for which the i-th entry is x[i]^2 if the i-th entry is non-negative and  -x[i]^2  if the i-th entry is negative.

#### Answer

We can use the following Python code.

In [ ]:
x = [-3, -1, 0 , 1, 3]
result = [ xi**2 if xi>=0 else -xi**2 for xi in x ]
print(result)

## Exercise 11

In Task 7 we constructed a list of red fruit using a loop. Can you also do this using a list comprehension?

#### Answer

As above:

In [ ]:
[ fruit for fruit, colour in colours.items() if colour=="red" ]

## Exercise 12

Fibonacci sequence revisited
We have looked at Fibonacci sequences last week (Task 8). Change the code from last week, so that you generate the first 10 Fibonacci numbers as a list.

#### Answer

While loop solution:

In [ ]:
fib = [1, 1]
while len(fib)<10:
    fib.append(fib[-1]+fib[-2])
print(fib)

For loop solution:

In [ ]:
fib = [1, 1] + [None] * 8
for i in range(2, len(fib)):
    fib[i] = fib[i-1]+fib[i-2]
print(fib)

However, compared to other programming languages (R, for example) the gain in performance by avoiding the appending of entries of a list is not as big as one would expect.

## Exercise 13

Alice and Bob maintain a list of the quantities of food in their fridges as Python dictionaries.
```
alice = { "Yoghurt": 10,
          "Cucumber": 1,
          "Can of beer": 2
        }
          
bob = { "Yoghurt": 3,
        "Avocado": 2,
        "Smoothie": 4,
        "Can of beer": 3
      }
```

Write a Python script that creates a dictionary of the food they have between the two of them.

#### Answer

In [ ]:
alice = { "Yoghurt": 10,
          "Cucumber": 1,
          "Can of beer": 2
        }

bob = { "Yoghurt": 3,
        "Avocado": 2,
        "Smoothie": 4,
        "Can of beer": 3
      }

Standard solution from the notes:

In [ ]:
# Get the list of items in the fridge
items = set(alice.keys()) | set(bob.keys())

food = {}

# For every item, check whether Alive or Bob have them
# If so, add to the count
for item in items:
    item_count = 0
    if item in alice.keys():
        item_count += alice[item]
    if item in bob.keys():
        item_count += bob[item]
    food[item] = item_count

print(food)

Alterative solution 1 (using get to have an alternative value):

In [ ]:
# Get the list of items in the fridge
items = set(alice.keys()) | set(bob.keys())

food = {}

# For every item, check whether Alive or Bob have them
# If so, add to the count
for item in items:
    food[item] = alice.get(item, 0) + bob.get(item, 0)

print(food)

Double for loop option:

In [ ]:
food ={}
for person in [alice,bob]:
  for item in person:
    if item not in food:
      food[item] = 0
    food[item] += person[item]
print(food)

Slightly fancier solution using counter:

In [ ]:
from collections import Counter
c1 = Counter(alice)
c1.update(bob)
print(c1)

## Exercise 14

Consider the list x defined as
```
x = [ 1, 5, 20, 9, 3, 8, 12 ]
```
Write generic code that replaces all entries which are greater than 5 by 0. Try to answer this task once using a loop and once using list comprehension.

#### Answer

List comprehension solution:

In [ ]:
x = [ 1, 5, 20, 9, 3, 8, 12 ]

In [ ]:
[y if y<=5 else 0 for y in x]

For loop solution

In [ ]:
x = [ 1, 5, 20, 9, 3, 8, 12 ]

for i in range(len(x)):
    if x[i]>5:
        x[i] = 0
print(x)

## Exercise 15

Create a vector x containing 10,000 random numbers using
```{python}
import random
x = [ random.gauss(0,1) for i in range(10000) ]
```
Use a list comprehension to count the number of entries of x which are greater than 2.

#### Answer

In [ ]:
import random
x = [ random.gauss(0,1) for i in range(10000) ]
print(sum(y>2 for y in x)) # Sol 1
print(sum(1 for y in x if y>2)) # Sol 2
print(len([y for y in x if y>2])) # Sol 3

For loop solution:

In [ ]:
n = 0
for xi in x:
    if xi>2:
        n += 1
print(n)

## Exercise 16

Create a list of all numbers between 1 and 100 which are divisible by no integer between 2 and 20. Attempt this task both using a loop and using list comprehensions.

#### Answer

For loop solution:

In [ ]:
result = []
for number in range(1,101):
   for divisor in range(2,21):
      if number%divisor==0:
          break
   else:                          # else part run if loop not break'ed
       result.append(number)
print(result)

List comprehension solution:

In [ ]:
result = [ number for number in range(1,101) if not
             [ divisor for divisor in range(2,21) if number%divisor==0 ] ]
print(result)

We have exploited that empty lists are treated as equivalent to False. The inner list comprehension returns the divisors between 2 and 20 of that number. We only want to include numbers if this list of divisors is empty.

Finally, we could have used sets for this task. We start off with all integers from 1 to 100 and progressively take all multiples away.

In [ ]:
result = set(range(1,101))
for divisor in range(2,21):
    result = result - set( [ divisor*i for i in range(1, int(100/divisor)+1) ] )
print(sorted(result))